body {
    font-family: "Open Sans", sans-serif;
    color: #5a5a5a;
}

.validationError {
    text-align: center;
    color: red;
}

.login-form {
    width: 385px;
    margin: 30px auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 10px 10px 10px #eee;
    padding: 30px;
}

.table, .table-bordered, .table-stripped {
    box-shadow: 10px 10px 10px #eee;
    background-color: #fff;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .login-btn {
    min-height: 38px;
    border-radius: 2px;
}

.input-group-addon .fa {
    font-size: 18px;
}

.login-btn {
    font-size: 15px;
    font-weight: bold;
}

.social-btn .btn {
    border: none;
    margin: 10px 3px 0;
    opacity: 1;
}

.social-btn .btn:hover {
    opacity: 0.9;
}

.social-btn .btn-primary {
    background: #507cc0;
}

.social-btn .btn-info {
    background: #64ccf1;
}

.social-btn .btn-danger {
    background: #df4930;
}

.or-seperator {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}

.red {
    color: red;
    padding: 10px;
}

.custom-navbar {
    box-shadow: 10px 10px 10px #eee;
    background-color: #fff;
}
.nav-link {
    color: #f7204e!important;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(247,32,78);
}
.custom-toggler:hover {
    border-color: rgb(255,255,255); background-color: #f76a88;
}

.navbar-brand {
    color: #f7204e!important;
}