<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore - Access Denied</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>

<body>
<header th:insert="blocks/header :: header"></header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, requested page not found!
                </div>
                <div class="error-actions">
                    <a th:href = "@{/}" class="btn btn-primary btn-lg">
                        Back to Book List </a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>

</html>