<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore - Account Info</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div class="container">
    <header th:insert="blocks/header :: header"></header>
    <br>
    <br>
    <br>
    <hr>
    <div>Bookstore - Account Info</div>
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="alert alert-success">
            <strong>Bookstore Administrator </strong>| UserName: <span th:utext="${#request.userPrincipal.name}"/>
        </div>
    </th:block>
    <hr>
    <br>
    <a th:href="@{/}"> Back to Book List</a>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>