<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore - Account Info</title>
</head>
<body>
<div class="container">
    <header th:insert="blocks/header :: header"></header>
    <br>
    <br>
    <br>
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
    <h1>Bookstore Administration Panel</h1>
    </th:block>
    <th:block sec:authorize="hasRole('ROLE_OP')">
        <h1>Bookstore Operator Service</h1>
    </th:block>
    <hr>
    <br>
    <h2>Account Info</h2>
    <div>
        <hr>
        <br>
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="alert alert-success">
                <strong>Bookstore Administrator </strong>| UserName: <span th:utext="${#request.userPrincipal.name}"/>
            </div>
        </th:block>
        <th:block sec:authorize="hasRole('ROLE_OP')">
            <div class="alert alert-success">
                <strong>Bookstore Operator </strong>| UserName: <span th:utext="${#request.userPrincipal.name}"/>
            </div>
        </th:block>
        <hr>
        <br>
        <a th:href="@{/}" class="btn btn-lg btn-light"> Back to Book List</a>
        <footer th:insert="blocks/footer :: footer"></footer>
    </div>
</div>
</body>
</html>