<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Administration Panel - Register New Book</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
<div class="container">
    <header th:insert="blocks/header :: header"></header>
    <br>
    <br>
    <br>
    <h1>Bookstore Administration Panel</h1>
    <hr>
    <h2>Add Book</h2>

    <form th:action="@{/saveBook}" th:object="${book}"
          method="POST" enctype="multipart/form-data" th:modelAttribute="book">

        <input type="hidden" th:field="*{id}"/>

        <input type="text" th:field="*{isbn}" th:modelAttribute="isbn"
               placeholder="Book ISBN" class="form-control mb-4 col-4">
        <span class="validationError" style="color:red" th:if="${#fields.hasErrors('isbn') }"
              th:errors="*{isbn}"></span><br>

        <input type="text" th:field="*{title}" th:modelAttribute="title"
               placeholder="Book Title" class="form-control mb-4 col-4">
        <span class="validationError" style="color:red" th:if="${#fields.hasErrors('title')}"
              th:errors="*{title}"></span><br>

        <input type="text" th:field="*{author}" th:modelAttribute="author"
               placeholder="Book Author" class="form-control mb-4 col-4">
        <span class="validationError" style="color:red" th:if="${#fields.hasErrors('author')}"
              th:errors="*{author}"></span><br>

        <input type="text" th:field="*{publisher}" th:modelAttribute="publisher"
               placeholder="Book Publisher" class="form-control mb-4 col-4">
        <span class="validationError" style="color:red" th:if="${#fields.hasErrors('publisher')}"
              th:errors="*{publisher}"></span><br>

        <input type="text" th:field="*{year}" th:modelAttribute="year"
               placeholder="Book Year" class="form-control mb-4 col-4">
        <span class="validationError" style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span><br>

        <textarea th:field="*{description}" th:modelAttribute="description"
                  placeholder="Description" class="form-control mb-4 col-4"></textarea>
        <span class="validationError" style="color:red" th:if="${#fields.hasErrors('description')}"
              th:errors="*{description}"></span><br>

        <input type="text" th:field="*{price}" th:modelAttribute="price"
               placeholder="Book Price" class="form-control mb-4 col-4">
        <span class="validationError" style="color:red" th:if="${#fields.hasErrors('price')}"
              th:errors="*{price}"></span><br>

        <div class="custom-file mb-4">
            <input type="file" th:modelAttribute="imageFile" name="imageFile" class="custom-file-input" id="customFile"> <label class="custom-file-label"
                                           for="customFile">Book Image</label>
        </div>

        <button type="submit" class="btn btn-outline-success col-2"> Save Book</button>

    </form>

    <br>
    <a th:href="@{/}"> Back to Book List</a>
</div>
<br>
<hr>

<footer th:insert="blocks/footer :: footer"></footer>


</body>

</html>