<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Administration Panel - Edit Book</title>
</head>
<body>
<div class="container">
    <header th:insert="blocks/header :: header"></header>
    <br>
    <br>
    <br>
    <h1>Bookstore Administration Panel</h1>
    <hr>
    <h2>Edit Book</h2>
    <div th:each="element : ${book}">
        <form method="post" th:object="${bookForm}" enctype="multipart/form-data" th:modelAttribute="bookForm">
            <input type="hidden" th:value="${element.id}" name="id"/>
            <h5>ISBN</h5>
            <input type="text" th:value="${element.isbn}" name="isbn"
                   placeholder="Book ISBN (must be unique)" class="form-control mb-4 col-4" required><br>
            <h5>Price</h5>
            <input type="text" th:value="${element.price}" name="price"
                   placeholder="Book Price (EUR)" class="form-control mb-4 col-4" required>
            <h5>Title</h5>
            <input type="text" th:value="${element.title}" name="title"
                   placeholder="Book Title" class="form-control mb-4 col-4" required>
            <h5>Year</h5>
            <input type="text" th:value="${element.year}" name="year"
                   placeholder="Book Year" class="form-control mb-4 col-4" required>
            <h5>Description</h5>
            <textarea th:text="${element.description}" name="description"
                      placeholder="Book Description" class="form-control mb-4 col-4" required></textarea>
            <h5>Author</h5>
            <input type="text" th:value="${element.author}" name="author"
                   placeholder="Book Author" class="form-control mb-4 col-4" required>
            <h5>Publisher</h5>
            <input type="text" th:value="${element.publisher}" name="publisher"
                   placeholder="Book Publisher" class="form-control mb-4 col-4" required>
            <h5>Change Picture</h5>
            <div class="custom-file mb-4">
                <input type="file" th:value="${element.image}" name="imageFile" class="custom-file-input"
                       id="customFile"> <label class="custom-file-label"
                                               for="customFile">Book Image</label>
            </div>
            <button type="submit" class="btn btn-success col-2"> Update Book</button>
        </form>
    </div>
    <br>
    <a th:href="@{/}" class="btn btn-lg btn-light"> Back to Book List</a>
</div>
<br>
<hr>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>