<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Administration Panel - Edit Book</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
<div class="container">
    <header th:insert="blocks/header :: header"></header>
    <br>
    <br>
    <br>
    <h1>Bookstore Administration Panel</h1>
    <hr>
    <h2>Edit Book</h2>
    <div th:each="element : ${book}">
        <form action="#" method="post" enctype="multipart/form-data" th:modelAttribute="book">
            <h5>Price</h5>
            <input type="text" th:value="${element.price}" name="price"
                   placeholder="Book Price" class="form-control mb-4 col-4">
            <h5>Title</h5>
            <input type="text" th:value="${element.title}" name="title"
                   placeholder="Book Title" class="form-control mb-4 col-4">
            <h5>Year</h5>
            <input type="text" th:value="${element.year}" name="year"
                   placeholder="Book Year" class="form-control mb-4 col-4">
            <h5>Description</h5>
            <textarea th:text="${element.description}" name="description"
                      placeholder="Book Description" class="form-control mb-4 col-4"></textarea>
            <h5>Author</h5>
            <input type="text" th:value="${element.author}" name="author"
                   placeholder="Book Author" class="form-control mb-4 col-4">
            <h5>Publisher</h5>
            <input type="text" th:value="${element.publisher}" name="publisher"
                   placeholder="Book Publisher" class="form-control mb-4 col-4">
            <h5>ISBN</h5>
            <input type="text" th:value="${element.isbn}" name="isbn"
                   placeholder="Book ISBN" class="form-control mb-4 col-4"><br>
            <h5>Change picture</h5>
            <div class="custom-file mb-4">
                <input type="file" name="imageFile" class="custom-file-input"
                       id="customFile"> <label class="custom-file-label"
                                               for="customFile">Book Image</label>
            </div>
            <button type="submit" class="btn btn-outline-success col-2"> Update Book</button>
        </form>
    </div>

    <br>
    <a th:href="@{/}"> Back to Book List</a>
</div>
<br>
<hr>

<footer th:insert="blocks/footer :: footer"></footer>
</body>

</html>