<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore - Book Details</title>
</head>
<body>
<div class="container">
    <header th:insert="blocks/header :: header"></header>
    <th:block sec:authorize="!isAuthenticated()">
        <h1>Bookstore</h1>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <h1>Bookstore Administration Panel</h1>
    </th:block>
    <hr>
    <br>
    <h2>Book Details</h2>
    <br>
    <div>
        <hr class="featurette-divider">
        <div th:each="element : ${book}">
            <th scope="row"><img alt=""
                                 th:src="*{'data:image/jpeg;data:image/jpg;data:image/png;data:image/gif;base64,'+{element.image}}"
                                 style="width: 300px;height: 300px;"></th>
            <hr>
            <div class="m-t-md">
                <h2 class="product-main-price">
                    EUR <small class="text-muted" th:text="${element.price}">Price</small>
                </h2>
                <hr>
                <dl th:class="text-muted">
                    <dt>Title: <h5 th:text="${element.title}"></h5></dt>
                    <dt>Author: <h5 th:text="${element.author}"></h5></dt>
                    <dt>Year:<h5 th:text="${element.year}"></h5></dt>
                    <dt>Description:<h5 th:text="${element.description}"></h5></dt>
                    <dt>Publiher:<h5 th:text="${element.publisher}"></h5></dt>
                    <dt>ISBN: <h5 th:text="${element.isbn}"></h5></dt>
                </dl>
                <br>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <td><a th:href="@{/viewEditForm/{id}(id=${element.id})}"
                           class="btn btn-outline-warning">Edit</a>
                        <a th:href="@{/deleteBook/{id}(id=${element.id})}" class="btn btn-outline-danger">Delete</a>
                    </td>
                </th:block>
            </div>
        </div>
    </div>
    <br>
    <a th:href="@{/}" class="btn btn-lg btn-light"> Back to Book List</a>
    <br>
    <hr>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>